.post_detail_content *{
  padding: 5px;
  margin: 10px 0px;
}

.post_detail li{
  margin: 10px 30px;
}

.post_detail{
  margin-top: 100px;  
}

.post_detail_header{
  text-align: center;
  margin-bottom: 40px;
}

.post_detail_header > p{
  font-size: 1.2em;
  font-weight: 500;
}

.post_detail_header > p:first-child{
  font-size: 2.5em;
  font-weight: 700;
}

.post_detail_content{
  font-size: 1.2em;
  line-height: 35px;
}

.post_detail_content img{
  max-width: 100%;
}

.hightlight{
  background-color: #FDF9EA;  
}

.important{
  background-color: #FDF9EA; 
  font-size: 1.3em;
  text-align: center;
}

.important > .hightlight{
  background-color: #FDF4B5;
}

.content-right-header{
  position: fixed;
  width: 30%;
  bottom: 20%;
  right: 0;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  transform: rotate(-5deg) skew(-5deg);
  text-shadow: 0.04em 0.04em 0 hsla(0,50%,91%,.8);
}

.up_to_top{
  font-size: 28px;
  color: #309EAE;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #d3d3d3;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}

.up_to_top i{
  position: absolute;
  top: 40%;
  right: 25%;
  animation: buttonScrollTop 1s infinite linear ;
}

@keyframes buttonScrollTop{
  0% {top: 40%; }
  35%{top: 25%;}
  70%{top: 10%;}
  100%{top: 40%}

}