@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  font-family: 'Open Sans', sans-serif;
}

a, a:hover{
  text-decoration: none;
  color: white;
}

.content-left{     
  background-color: #252525;
  height: 100vh;
  color: white;
}

.content-right{
  background-color: #d5d2d2;
}

.sidebar{
  position: fixed;
  top: 0;
  background-color: #252525;
  height: 100vh;
  width: 15%;
}

.logo > img {
  width: 150px;
  height: 150px;
}

.logo i{
  display: none;
}

.list-subject > ul{
  list-style-type: none;
  font-size: 17px;
  font-weight: 500; 
  padding: 0px 5px; 
}

.list-subject li{
  border-top: 1px solid #4e4b4b;
  padding: 7px;
  transition: all 200ms;
}

.list-subject a:last-of-type li{
  border-bottom: 1px solid #4e4b4b;
  
}

.list-subject a:hover li{
  background-color:#4e4b4b; 
  padding-left: 15px;
  
}

.list-subject a:nth-child(1) svg{
  color: #FFCE02;
}

.list-subject a:nth-child(2) svg{
  color: #88C349;
}

.list-subject a:nth-child(3) svg{
  color:#28BBB9;
}

.list-subject a:nth-child(4) svg{
  color:#F47631;
}

/*CSS list posts*/
.list-posts{
  margin-top: 80px;
  padding: 0px 40px;
}

.list-posts p::selection, .list-posts span::selection{
  background-color: #33A1B1;
}

.list-posts a{
  color: black;
}

.list-posts a:hover{
  color: #33A1B1;
}

.post{
  border-bottom: 1px solid #d5d2d2;
  padding-bottom: 40px;
}

.post-header{
  font-size: 2.1em;
  font-weight: bold;
  line-height: 2em;
}

.post-short-content{
  font-size: 1.2em;
}

.create-date{
  font-size: 0.9em;
  margin-right: 5px;
}

.tags{
  display: inline-block;
  font-size: 1.2em;
}

.badge{
  background-color:#e2e2e2;
  font-weight: 500;
  padding: 2px 12px 2px 18px;
  position: relative;
}

.badge::before{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #33A1B1;
  position: absolute;
  top: 31%;
  
  left: 4%;
}
/* End CSS list posts*/

@media (max-width: 991px) {
  .content-left{
    height: auto;
  }

  .content-right{
    display: none;
  }
  
  .sidebar{
    position: relative;
    width: 100%;
    height: auto;
  }

  .list-subject a:last-of-type li{
    border-bottom: none;    
  }

  .logo > img {
    width: 70px;
    height: 70px;
  }

  .list-subject{
    display: none;
  }

  .logo i{
    display: block;
    font-size: 30px;
    float: right;
    padding-top: 15px;
    cursor: pointer;
  }
}